/roguelike_game/nbproject/private/**
roguelike_game/nbproject/private/private.properties
/roguelike_game/nbproject/private
/roguelike_game/build/
/roguelike_game/nbbuild/
/roguelike_game/dist/
/roguelike_game/nbdist/
/roguelike_game/nbactions.xml
/roguelike_game/nb-configuration.xml


#GITIGNORE FOR JAVA
#java specific
*.class
# Package Files #
*.jar
*.war
*.ear
#netbeans ignore personal stuff 


## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


